In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
pd.set_option('display.max_columns', 500)

2 - 19.2 N  
3 - 28.8 N  
4 - 57.6 N  
5 - 67.0 N  
6 - 86.0 N  
7 - 95.6 N

In [24]:
#V2 validates L3, V4 validates L5, V6 validates L7

f16_l3 = pd.read_csv('data/F16Data_SineSw_Level3.csv')
f16_l5 = pd.read_csv('data/F16Data_SineSw_Level5.csv')
f16_l7 = pd.read_csv('data/F16Data_SineSw_Level7.csv')
f16_v2 = pd.read_csv('data/F16Data_SineSw_Level2_Validation.csv')
f16_v4 = pd.read_csv('data/F16Data_SineSw_Level4_Validation.csv')
f16_v6 = pd.read_csv('data/F16Data_SineSw_Level6_Validation.csv')

Force: Actual force provided by the shaker and measured at the excitation location  
Voltage: Acting as a reference input  
Acceleration 1: Excitation Location  
Acceleration 2: Right wing, next to the nonlinear interface of interest  
Acceleration 3: On payload, next to the nonlinear interface of interest  
Fs: Ignore   
Unnamed: 6: Ignore

In [43]:
f16_l3

           Force   Voltage  Acceleration1  Acceleration2  Acceleration3
0      -0.018450  0.000010       0.000753      -0.002346       0.002825
1      -0.014134  0.000005       0.003340       0.000982      -0.004429
2       0.076820  0.000005      -0.006021       0.002681       0.001030
3       0.008739  0.000020      -0.004257       0.002813       0.002430
4       0.014673  0.000007       0.000776       0.000144      -0.001125
...          ...       ...            ...            ...            ...
108472  0.000000  0.000000       0.000000       0.000000       0.000000
108473  0.000000  0.000000       0.000000       0.000000       0.000000
108474  0.000000  0.000000       0.000000       0.000000       0.000000
108475  0.000000  0.000000       0.000000       0.000000       0.000000
108476  0.000000  0.000000       0.000000       0.000000       0.000000

[108477 rows x 5 columns]

In [16]:
#All of the last column is NaN
f16_l3['Unnamed: 6'].isna().sum()

108477

In [17]:
#All of column Fs is NaN except for the first row
f16_l3['Fs'].isna().sum()

108476

In [8]:
f16_v2

,Force,Voltage,Acceleration1,Acceleration2,Acceleration3,Fs,Unnamed: 6
0,0.022550,0.000002,0.002223,-0.002586,0.000862,400.0,NaN
1,-0.006797,-0.000016,-0.003551,-0.002059,0.004812,NaN,NaN
2,-0.081028,-0.000027,0.001411,-0.002873,0.000419,NaN,NaN
3,-0.004154,-0.000022,0.001976,-0.003280,0.001077,NaN,NaN
4,-0.027081,-0.000010,0.000388,-0.004094,0.005207,NaN,NaN
...,...,...,...,...,...,...,...
108472,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
108473,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
108474,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
108475,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
108476,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN

In [15]:
#All of the last column is NaN
f16_v2['Unnamed: 6'].isna().sum()

108477

In [18]:
#All of column Fs is NaN except for the first row
f16_v2['Fs'].isna().sum()

108476

In [25]:
#Drops the useless columns
f16_l3.drop(['Fs', 'Unnamed: 6'], axis = 1, inplace = True)
f16_v2.drop(['Fs', 'Unnamed: 6'], axis = 1, inplace = True)

In [44]:
f16_l3 = f16_l3[f16_l3['Force'] != 0.0]

In [46]:
f16_l3 = f16_l3[f16_l3['Acceleration3'] != 0.0]

In [50]:
f16_l3 = f16_l3[['Force', 'Acceleration3']]

In [51]:
f16_l3

           Force  Acceleration3
0      -0.018450       0.002825
1      -0.014134      -0.004429
2       0.076820       0.001030
3       0.008739       0.002430
4       0.014673      -0.001125
...          ...            ...
107256  3.191300       0.041001
107257  3.173900       0.036296
107258  3.139600       0.039600
107259  3.030200       0.033806
107260  3.073700       0.033064

[107254 rows x 2 columns]

In [59]:
f16_l3.to_csv('data/f16_l3.csv', index = False)

In [60]:
#Verify
temp = pd.read_csv('data/f16_l3.csv')

In [61]:
temp

           Force  Acceleration3
0      -0.018450       0.002825
1      -0.014134      -0.004429
2       0.076820       0.001030
3       0.008739       0.002430
4       0.014673      -0.001125
...          ...            ...
107249  3.191300       0.041001
107250  3.173900       0.036296
107251  3.139600       0.039600
107252  3.030200       0.033806
107253  3.073700       0.033064

[107254 rows x 2 columns]