In [1]:
import pandas as pd
import numpy as np

from datetime import datetime 
import time

In [2]:
#Temporary list to hold values of the recorded time
time_list = list()

#Creates a dataframe by which we will eventually put in our list created above
time_df = pd.DataFrame(columns = ['time'])

#Sets the number of times we will run for loop/time recording function
test_iterations = 10

#Declares a start time to began keeping time
start_time = datetime.now()

In [3]:
#Defines a function that runs a timer for 3 seconds (time.sleep(i)) then appaneds a list with the total recorded time

def save_time():
    time.sleep(3)
    time_list.append(format(datetime.now() - start_time))

In [4]:
#For loop on the function save_time created above and runs the loop the number of times as defined in test_iterations

for i in range(test_iterations): 
    save_time()

In [5]:
#Can be combined into one for loop if so desired
#for i in range(test_iterations):
#    time.sleep(3)
#    time_list.append(format(datetime.now() - start_time))

In [6]:
#Creates a dataframe from the list 

time_df = pd.DataFrame(time_list, columns = ['time'])

In [7]:
#Checks out!
time_df

             time
0  0:00:03.040590
1  0:00:06.055034
2  0:00:09.062118
3  0:00:12.076170
4  0:00:15.081242
5  0:00:18.095281
6  0:00:21.098263
7  0:00:24.103953
8  0:00:27.105677
9  0:00:30.119551

In [8]:
#Old code


#for i in temp:
#    print(type(i))



#print('Time elapsed (hh:mm:ss.ms) {}'.format(datetime.now() - start_time))

#temp.append(format(datetime.now() - start_time))
                     
#time_df = time_df.append(format(datetime.now() - start_time))